.assessment__content__wrapper
  padding: 20px

  @media screen and (max-width: 768px)
    margin-top: 110px
    width: 100vw

  .my__assessment__wrapper
    margin-top: 40px
    padding-bottom: 200px

    @media screen and (max-width: 768px)

      &.active
        margin-top: 0

    .my__assessment__header
      display: flex
      justify-content: space-between
      align-items: center

      .my__assessment__heading
        @extend %title-18
        color: $blumine
        margin-bottom: 16px
        text-transform: capitalize

      span
        @media screen and (min-width: 769px)
          display: none

        svg
          height: 40px
          width: 40px
          fill: $blumine

          &.active
            position: relative
            border: 1px solid $azure_radiance
            border-radius: 100vw
            fill: $azure_radiance

            rect
              fill: #f2fef8

    .my__assessments__container
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 30px

      @media screen and (max-width: 969px)
        grid-template-columns: repeat(1, 1fr)

      @media screen and (min-width: 970px) and (max-width: 1299px)
        grid-template-columns: repeat(2, 1fr)
