$aqua_haze: #F6F8FA;
$azure_radiance: #0073E6;
$blumine: #1C4980;
$grenadier: #D63500;
$hawkes_blue: #F2F8FE;
$jade: #05C165;
$jungle_mist: #BACBD5;
$mystic: #DDE5EA;
$white: #ffffff;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$inter-bold: 'inter-bold';
$inter-medium: 'inter-medium';
$inter-semi-bold: 'inter-semi-bold';
